.tableComponent{
    text-align: center;
    &__filters{
        padding: 2%;
        display: flex;
        gap: 1%;
        max-width: 700px;
        margin: auto;
        justify-content: space-around;
        align-items: center;
        &__buttons{
            display: flex;
            gap: 10px;
            justify-content: space-between;
        }
    }
    &__stateFilter{
        cursor: pointer;
    }
    &__noResults{
        color: white;
        font-size: 2em;
    }
    table{
        width: 100%;
        th{
            color: white;
            font-weight: 900;
            font-size: 1em;
            padding: 1%;
            width: 10%;
        }
        
        td{
            padding: 1%;
            vertical-align: middle;
            color: white;
            width: 20%;
        }
    }
    button{
        background-color: black;
        color: white;
        font-weight: 600;
        padding: 10px;
        border: none;
        border-radius: 10px;
        cursor: pointer;
        // min-width: 159px;
    }
    input{
        padding: 10px 15px;
        height: 10px;
        border-radius: 10px;
        width: 15%;
    }
    button:active{
        opacity: 0.5;
    }
}
.colorfullTable{
    tr:nth-child(even){
        background-color: grey;
    }
    
}

@media (max-width: 500px) {
    .tableComponent{
        &__filters{
            display: block;
        }
        input{
            width: 60%;
            margin-top: 20px;
            margin-bottom: 20px;
        }
        
        table{
            td:nth-child(3n) {
                display: none;
            }
            th:nth-child(3n) {
                display: none;
            }
        }
    }
  }