.content{
    min-height: 100vh;
    min-width: auto;
    background-color: rgb(34, 34, 35);
}
.main{
    max-width: 1500px;
    margin:auto;
    text-align: center;
    h1{
        color: white;
        font-size:2em;
        padding: 30px;
    }
}